.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: .6;
}
